@media(max-width: 640px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .table1 {
    font-size: 12px;
  }

  .table1 th,
  .table1 td {
    padding: 0.3em;
  }
}

.table1 {
  width: 100%;
  table-layout: fixed;
}

.table1 th,
.table1 td {
  border: 1px solid #000;
  /*セルの境界*/
  padding: 0.5em;
  /* セルの余白 */
}

.table1 th {
  background-color: goldenrod;
  color: white;
}

.table1 tr:nth-child(odd) {
  background-color: white;
}

.table1 tr:nth-child(even) {
  background-color: rgb(176, 176, 176);
}

.table1 tr:hover {
  background-color: rgb(244, 139, 3);
  font-weight: bold;
}

.table1 tr>*:last-child {
  /* background-color: rgb(214, 187, 240); */
  width: 10%;
  color: rgb(90, 41, 24);
}

.delete {
  background-color: black;
  color: white;
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  text-align: center;
}

.delete:hover {
  font-weight: bold;
  color: black;
  background-color: crimson;
}

.wide_link {
  display: block;
  color: black;
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* text-decoration: none; なぜ効かない？ */
}
