body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0px;
}

h1 {
  color: rgb(135, 18, 18);
}

label {
  font-weight: bold;
}

input {
  margin-bottom: 10px;
}
